<!DOCTYPE html>
<html> 

<body>
  
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/"><img src="images/logo12.png" alt="Myself"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
     <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link h4" href="/admin/servicios">Editor de serv.</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Adm. de {{title}}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       
       
        <div class="content">
        <h3 class="font-tertiary mb-3 text-center">Modifique los datos del</h3>
        <h3 class="font-tertiary mb-3 text-center">inicio a su propio gusto</h3>
       

        {{#each index}}
<form method="POST" action="/admin/index">
        <div class="form-group">
          <label for="titulo"> <strong> Titulo</strong></label>
            <textarea class="form-control" id="titulo" name="titulo">{{titulo}}</textarea>
        </div>
        <div class="form-group">
            <label for="slogan"> <strong>Slogan</strong></label>
            <textarea class="form-control" id="slogan" name="slogan">{{slogan}}</textarea>
        </div>
        <div class="form-group">
            <label for="textabout"> <strong>Acerca de mí</strong></label>
            <textarea class="form-control" id="textabout" name="textabout">{{textabout}}</textarea>
        </div>
      
        <button type="submit" class="btn btn-primary btn-block">Editar</button>

        </form>
        {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</section>