<!DOCTYPE html>
<html> 

<body>
  
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/"><img src="images/logo12.png" alt="Myself"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
     <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link h4" href="/admin/servicios">Editor de serv.</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Adm. de {{title}}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       
       
        <div class="content">
        <h3 class="font-tertiary mb-3 text-center">Modifique los datos del</h3>
        <h3 class="font-tertiary mb-3 text-center">inicio a su propio gusto</h3>
       

        {{#each index}}
<form id="form1">
        <div class="form-group">
          <label for="titulo"> <strong> Titulo</strong></label>
            <textarea class="form-control" id="titulo" name="titulo">{{titulo}}</textarea>
        </div>
        <div class="form-group">
            <label for="slogan"> <strong>Slogan</strong></label>
            <textarea class="form-control" id="slogan" name="slogan">{{slogan}}</textarea>
        </div>
        <div class="form-group">
            <label for="textabout"> <strong>Acerca de mí</strong></label>
            <textarea class="form-control" id="textabout" name="textabout">{{textabout}}</textarea>
        </div>
      
        <button type="button" class="btn btn-primary btn-block" id="boton">Enviar</button>

        </form>
        {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
    <script>
window.addEventListener('load', () => {
        console.log("Cargado..")
        document.getElementById('boton').addEventListener('click', botonApretado);
    });

    const botonApretado = () => {
        console.log("%cUpss me apretaron :stuck_out_tongue_winking_eye:🐱‍🏍", "color:red");
        const datos = new URLSearchParams(new FormData(document.getElementById('form1')));
        // fetch
        fetch('/admin/index', {
            method: 'POST',
            body: datos
        })
            .then(response => response.json())
            .then(data => message(data));
    }

    const message = (datos) => {
        if (datos.success == true) {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Index modificado',
                showConfirmButton: true,
            })
        } else {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Oops... Ocurrio un error ',
                showConfirmButton: true,
            })
        }
    }
  </script>
</section>