
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/"><img src="images/logo12.png" alt="Myself"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        </li>
       <li class="nav-item">
          <a class="nav-link" href="/#about">about me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#medios">Medios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{title}}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{#each facilitaciones}}
        <h3 class="font-tertiary mb-5">Cual es la importancia de las {{nombre}}?</h3>
        {{/each}}
        <div class="content">
          {{#each facilitaciones}}
          <img src={{imagen}} alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</strong>
          <p>{{texto}}</p>
         {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>