<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/d648ff3d3f.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- Main Script -->
<script src="javascripts/script.js"></script>
  </head>
  <body>
    {{{body}}}


<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Correo</h5>
          <p class="text-white paragraph-lg font-secondary">agusguerreirosantos@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Teléfono</h5>
          <p class="text-white paragraph-lg font-secondary">+54 11 2348-4220</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Ubicación</h5>
          <p class="text-white paragraph-lg font-secondary">Buenos Aires, Argentina.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> a theme by <a href="https://themefisher.com">themefisher.com</a></p>
  </div>
</footer>
    <div style="position:fixed; left:10px; bottom:10px; text-align:center; padding:3px">
<a href="https://api.whatsapp.com/send?phone=+5491123484220" target="_blank" id="whatsapp-icon">
<img src="images/whatsapp1.png" width="30" height="30"  ></a>
</div>
  </body>
</html>
